{%extends "base.html"%}

{%block title%}
<title>Rent and Legislation</title>
{%endblock%}

{%block header%}
<div id="container" style="height: 100vh">

<!-- Header -->
<div id="global-header">
  <div id="global-branding">
    <div class="navbar-dc-logo">
     <a href="http://www.dailycal.org/" title="The Daily Californian" target="_top">
       <img class="navbar-brand" src="http://projects.dailycal.org/images/masthead.png">
     </a>
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ META.url | urlencode }}"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?url={{ META.url | urlencode }}&amp;via=dailycal&amp;text={{META.share.twitter.share_tweet | urlencode}}"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>

<!-- Title -->
<div class="panel" id="top">
  <header class="center">
    <div class="opacity">
      <p class="category">
        <a href="{{ARCHIE.category_link}}"" target="_blank">{{ARCHIE.category}}</a>
        </p>
        <h1>{{ ARCHIE.headline }}</h1>
        <p class="subhead">{{ARCHIE.subhead}}</p>
        <div class="info">
            <p>
                By <span class="byline"><a href="http://www.dailycal.org/author/pkapshikar/">Purva Kapshikar</a></span> 
                <br>
                Photo credit: Amanda Ramirez/File

                <br /> 
                <span class="timestamp"> <time datetime="{{META.timestamp}}">{{ARCHIE.dateline | upper}}</time></span>
            </p>
        </div>
      </div>
      <!-- <p class="subhead" style="font-size: 12px; text-align: right; color: white"> Amanda Ramirez/File </p> -->
  </header>
</div>
{%endblock%}

{%block content%}

  <div id="sticky"></div>
  <div id="content">
    <div class="intro">    
      {{ ARCHIE.intro | markdown }}
    </div>
    <div class="panel">
      <p class="details">{{ ARCHIE.panel_ww2 | safe }}</p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1971 </b> </p>
      <h4> AUGUST </h4>
      <p class="details">{{ ARCHIE.panel_1971 | safe }}</p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1972 </b> </p>
      <h4> JUNE </h4>
      <p class="details">{{ ARCHIE.panel_1972 | safe }}</p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1973 </b> </p>
      <h4> JANUARY </h4>
      <p class="details"> {{ ARCHIE.panel_1973_jan | safe }} </p>
      <h4> MAY </h4>
      <p class="details"> {{ ARCHIE.panel_1973_may | safe }} </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1976 </b> </p>
      <h4> JUNE </h4>
      <p class="details"> {{ ARCHIE.panel_1976 | safe }} </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1978 </b> 
        <br/>
        <span style="color:#c06014">$219</span>, <span style="color:#6199e2">$XXX</span> </p>
      <h4> JUNE </h4>
      <p class="details"> {{ ARCHIE.panel_1978_june | safe }} </p>
      <h4> NOVEMBER </h4>
      <p class="details"> {{ ARCHIE.panel_1978_nov | safe }} </p>
    </div>

    <!-- Position "left" and "right" divs side-by-side or stacked -->
    <div class="wrapper"> 
      <p class="year"> <b> 1980 </b> 
        <br/>
        <span style="color:#c06014">$223</span>, <span style="color:#6199e2">$XXX</span> </
      </p>
      <h4 id="left"> JUNE </h4>
      <p class="details" id="left"> {{ ARCHIE.panel_1980_left_a | safe }} </p>
      <div id="right">
        <a href="http://newsprint.dailycal.org/issues/1981/01/05/#1" target="_blank">
          <img class="article" src="images/jan51981.jpg" alt="Daily Cal from Jan 5, 1981" width="75%">
        </a>
        <p id="caption"> Daily Cal Archives/File </p>
      </div>
      <p class="details" id="left"> {{ ARCHIE.panel_1980_left_b | safe }} </p>
    </div>

    <div class="panel">
      <p class="year"> <b> 1981 </b> $234 </p>
      <h4> JANUARY </h4>
      <p class="details"> {{ ARCHIE.panel_1981 | safe }} </p>
    </div>

    <div class="panel">
      <a href="http://newsprint.dailycal.org/issues/1981/01/09/#1" target="_blank">
        <img class="article" src="images/jan91981.jpg" alt="Daily Cal from Jan 9, 1981" width="100%">
      </a>
      <p id="caption"> Daily Cal Archives/File </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1982 </b> $255 </p>
      <h4> NOVEMBER </h4>
      <p class="details"> {{ ARCHIE.panel_1982 | safe }} </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1985 </b> $272 </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 1990 </b> $344 </p>
    </div>

    <div class="wrapper"> 
      <p class="year"> <b> 1991 </b> $361 </p>
      <h4 id="left"> APRIL </h4>
      <p class="details" id="left"> {{ ARCHIE.panel_1991_april | safe }} </p>
      <div id="right">
        <a href="http://newsprint.dailycal.org/issues/1991/11/04/#1" target="_blank">
          <img class="article" src="images/nov41991.jpg" alt="Daily Cal from Nov 4, 1991" width="75%">
        </a>
        <p id="caption"> Daily Cal Archives/File </p>
      </div>
      <h4 id="left"> SEPTEMBER </h4>
      <p class="details" id="left"> {{ ARCHIE.panel_1991_sept | safe }} </p>
    </div>
    
    <div class="panel">
      <p class="details"> {{ ARCHIE.panel_1994 | safe }} </p>
      <p class="year"> <b> 1994 </b> $545 </p>
    </div>
    <div class="panel">
      <a href="http://newsprint.dailycal.org/issues/1995/05/16/#1" target="_blank">
        <img class="article" src="images/may161995.jpg" alt="Daily Cal from May 16, 1995" width="100%">
      </a>
      <p id="caption"> Daily Cal Archives/File </p>
    </div>
    <div class="panel" id="year">
      <p class="year"> <b> 1995 </b> $533 </p>
      <h4> JUNE </h4>
      <p class="details"> {{ ARCHIE.panel_1995 | safe }} </p>
    </div>
    <!-- <div class="panel">
      <a href="http://newsprint.dailycal.org/issues/1995/10/09/#1" target="_blank">
        <img class="article"  src="images/oct91995.jpg" alt="Daily Cal from Oct 9, 1995" width="100%">
      </a>
      <p id="caption"> Daily Cal Archives/File </p>
    </div> -->
    <div class="panel">
      <a href="http://newsprint.dailycal.org/issues/1995/10/10/#1" target="_blank">
        <img class="article" src="images/oct101995.jpg" alt="Daily Cal from Oct 10, 1995" width="100%">
      </a>
      <p id="caption"> Daily Cal Archives/File </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 2000 </b> $750 </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 2005 </b> $950 </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 2010 </b> $1151 </p>
    </div>
    <div class="panel">
      <p class="year"> <b> 2015 </b> $1474 </p>
    </div>
    <div class="panel" id="year">
      <p class="year"> <b> 2018 </b> </p>
      <h4> NOVEMBER </h4>
      <p class="details"> {{ ARCHIE.panel_2018 | safe }} </p>
    </div>

<!-- Nerd box -->
    <div class="panel" id="last">
      <div class="nerd-box">
        <h4>About this story</h4>
        <p> {{ ARCHIE.nerdbox | markdown }} </p>
        <p> This project is open-source on <a href="https://github.com/dailycal-projects/berkeley-rent-timeline-gen" target="_blank">Github</a>. </p>
        <br>
        <h4>Support us</h4>
        <p>We're a nonprofit, student-run newsroom. Please consider <a href="https://donate.dailycal.org/" target="_blank">donating</a> to support our coverage.</p>
      </div>
    </div>

<!-- Footer -->
    <div id="global-footer">
      <p class="footer-text">Questions, comments or corrections? Email <a href="mailto:projects@dailycal.org">projects@dailycal.org</a>.</p>
      <p class="footer-text">Interested in more projects? Check out <a href="http://projects.dailycal.org">our website</a>.</p>
      <p class="footer-text">Support innovative, independent student journalism. <a href="https://donate.dailycal.org/" target="_blank">Donate today</a>.</p>
      <p class="footer-text">Copyright © 2019 The Daily Californian, The Independent Berkeley Student Publishing Co., Inc.</p>
    </div>
  </div>

{%endblock%}