<div class="btn-q{{ section.questionNumber }} quiz-question">
    <h2 class='question-number'>{{ section.questionNumber }}. </h2>
    <figure class="btn-q{{ section.questionNumber }} no-gutters-phone">
        <img class="btn-q{{ section.questionNumber }} question-image" src="{{ section.questionImage }}">
        <figcaption class="figcaption"> {{ section.imageCredit }} </figcaption>
    </figure>
    <h2>{{ section.question }}</h2>
    <div class="btn-q{{ section.questionNumber }} button-group content-fit">
        {% if 'option1' in section.correct %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-1" class="btn-q{{ section.questionNumber }} correct btn full-width left-align">
            {{ section.option1 }}
        </a>
        {% elif section.option1 != 'NULL' %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-1" class="btn-q{{ section.questionNumber }} wrong btn full-width left-align">
            {{ section.option1 }}
        </a>
        {% endif %}
        {% if 'option2' in section.correct %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-2" class="btn-q{{ section.questionNumber }} correct btn full-width left-align">
            {{ section.option2 }}
        </a>
        {% elif section.option2 != 'NULL' %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-2" class="btn-q{{ section.questionNumber }} wrong btn full-width left-align">
            {{ section.option2 }}
        </a>
        {% endif %}
        {% if 'option3' in section.correct %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-3" class="btn-q{{ section.questionNumber }} correct btn full-width left-align">
            {{ section.option3 }}
        </a>
        {% elif section.option3 != 'NULL' %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-3" class="btn-q{{ section.questionNumber }} wrong btn full-width left-align">
            {{ section.option3 }}
        </a>
        {% endif %}
        {% if 'option4' in section.correct %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-4" class="btn-q{{ section.questionNumber }} correct btn full-width left-align">
            {{ section.option4 }}
        </a>
        {% elif section.option4 != 'NULL' %}
        <a target="blank" id="btn-q{{ section.questionNumber }}-4" class="btn-q{{ section.questionNumber }} wrong btn full-width left-align">
            {{ section.option4 }}
        </a>
        {% endif %}
    </div>
</div>
<br>
<div style="background-color:#7aaaf317;max-width:600px;margin:0px auto 30px auto">
    <h2 id="q{{ section.questionNumber }}-exp-correct" style="display:none;padding:25px 15px 0px 15px">
        Correct!
    </h2>
    <h2 id="q{{ section.questionNumber }}-exp-wrong" style="display:none;padding:25px 15px 0px 15px">
        Not quite!
    </h2>
    <div id="q{{ section.questionNumber }}-exp" style="display:none;padding:0px 15px 0.5px 15px">
        {{ section.explanation | markdown }}

        {% if section.articleTitle %}
        <p class='read-more'> Read more: <a class='read-more-link' href="{{ section.articleLink }}">{{ section.articleTitle }}</a> </p>
        {% else %}
        <p class='read-more blank'></p>
        {% endif %}
    </div>
</div>