.nerd-box {
	background: rgba($dc-blue, 0.1);
	padding: 20px;
	max-width: 600px;
	margin: 0 auto 30px auto;

	p {
		font-family: $sans;
		font-size: 12px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: $width-bootstrap-small) {	
    .nerd-box {
    	margin: 0 auto 50px auto;
    }
}
