#container {
  background-color: #fffff0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  z-index: 30;
}

#sticky { 
  background-color: #fffff0;
  display: none;
  position: fixed; 
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  z-index: -1;
  pointer-events: none;
}


/* Wrapper class for positioning divs side-by-side */

.wrapper { 
  overflow:hidden;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

#right { 
  float: right;
  width: 300px;
}


/* Images */

img {
  height: auto;
  margin: 0 auto;
  align: middle;
}

.article {
  margin-left: 20px;
  width: 90%;
}

.article:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

#top {
  background-image: url(images/berkeley.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; 
}

.opacity {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);

}

.center {
  padding: 160px 80px;
  height: 100%;
  width: 100%;
}

#caption {
  font-family: BentonSans;
  font-size: 10px;
}


/* Panels */
.panel {
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 100;
}

.year {
  text-align: center;
  font-size: 20px;
}

.details {
  background: rgba(255, 255, 255, 0.6); 
  display: inline-block;
  text-align: left;
  margin-left: 55px;
  margin-right: 35px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow:0 0 1px 2px #ffffd7;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 17px;
}

#first {
  padding-top: 30vh;
}

#year {
  padding-top: 10px;
}

#last {
  padding-top: 20vh;
  padding-bottom: 50px;
}


/* Graph */
.axis line {
  stroke: #0f1626;
}

.axis path {
  stroke: #0f1626;
}

.axis text {
  fill: #0f1626; 
} 

.overlay {
  fill: none;
  pointer-events: all;
}


/* Intro */

.intro {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  position: relative; 
  top: 0px;
  left: 0px;
  margin-top: 20vh;
  padding-bottom: 20vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: BentonSans;
  padding-left: 10vh;
  padding-right: 10vh;
}

.intro p {
  font-size: 20px;
  text-align: left;
}


/* Mobile styles */

@media screen and (min-width: 1100px) {
  .panel {
    width: 60%;
  }

  .wrapper {
    width: 60%;
  }

  #left { 
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .panel {
    width: 80%;
  }

  #left { 
    width: 60%;
  }

  #right { 
    margin: 0 auto;
    float: none;
    width: 300px;
  }
}

@media screen and (max-width: 580px) {
  .center {
    padding: 80px 25px;
  }

  .opacity h1 {
    font-size: 1.5em;
  }

  .opacity {
    margin-top: 50px;
  }
}