svg {
  display: none;
  background-color: #fffff0;
}

#container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  margin: 0 auto;
}

#sticky { 
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  z-index: 50;
}

/* PANEL things */

.panel {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#last {
  padding-bottom: 100vh;
}

.panel .year {
    text-align: center;
    font-size: 20px;
    padding-top: 20vh;
}

.panel .details {
    display: inline-block;
    text-align: left;
    background-color: #f5f2ee;
    margin-left: 50px;
    margin-right: 50px;
    border-radius:3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:0 0 1px 2px #cfc2ae;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 17px;
}

.panel h4 {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

/* GRAPH things */

.axis line{
  stroke: #0f1626;
}

.axis path{
  stroke: #0f1626;
}

.axis text{
  fill: #0f1626;
} 

.overlay {
  fill: none;
  pointer-events: all;
}

/* BEGINNING things */

.heading {
  height: 100vh;
  width: 100vw;
  background-color: #ced6e2;
  position: relative; 
  top: 0px;
  left: 0px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.heading #title {
  font-size: 40px;
  font-family: Georgia,Times,Times New Roman,serif
}

.heading #subtitle {
  font-size: 30px;
}

.heading #details {
  font-size: 20px;
}

header {
  padding: 20px;
  @media (max-width: $width-medium) {
    padding: 0 15px 15px;
  }
  &+figure{
    margin-top: 0;
  }

  p.category,
  p.category a {
    color: #284D67;
    font-family: $sans;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 2.5em;
    line-height: 1.1em;
    margin: 0;
    padding: 0px 5px 10px;
    max-width: 900px;
    @media (max-width: $width-medium) {
      font-size: 2.5em;
      margin: 5px 0 15px;
      padding: 0;
    }
    @media (max-width: $width-small) {
      font-size: 2.33em;
      margin-top: 0;
    }
  }

  .subhead {
    max-width: 750px;
    padding: 0;
    font-family: $sans;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 5px 0 10px 0;
    padding-bottom: 0;

    @media (max-width: $width-medium) {
      font-size: 1.25em;
      }
  }

  .info p,
  .info a {
    max-width: 750px;
    color: #666;
    font-family: $sans;
    line-height: 1.3em;
    margin-top: .5em;
    font-size: 0.9em;
    margin-bottom: 10px;

    @media (max-width: $width-small) {
      font-size: .96em;
    }
  }

  .info a {
    color: #284D67;
  }

  .info{
    a:hover, a:focus{
      text-decoration: underline;
    }
    .byline{
      text-transform:uppercase;
      font-weight: 700;
    }
  }
}

header.center{
  p.category,
  p.category a,
  h1,
  p.subhead,
  .info p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* ENDING things */

.ending {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  position: relative; 
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.ending #subtitle {
  font-size: 25px;
}

.ending #details {
  font-size: 15px;
  font-family: Georgia,Times,Times New Roman,serif;
  display: inline-block; 
  text-align: left;
}

.nerd-box {
  background: #f9f9f9;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
}

.nerd-box p {
  font-size: 14px;
  margin-bottom: 0;
}

/* Mobile styles */

@media screen and (min-width: 850px) {
  .panel {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .panel {
    width: 80%;
  }
}